.projects-container.light {
    background-color: #f9f9f9;
    color: #000000;
}

.projects-container.dark {
    background-color: #000000;
    color: #ffffff;
}

.project-card.light {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #dddddd;
}

.project-card.dark {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

.project-description.light {
    color: #000000;
}

.project-description.dark {
    color: #ffffff;
}

.project-image {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-image:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.project-description {
    text-align: justify;
    max-height: 150px;
    overflow: hidden;
    position: relative;
    hyphens: auto;
    word-spacing: 0.1em;
    text-justify: inter-word;
    text-align-last: left;
    line-height: 1.5;
}

.read-more {
    color: #007bff;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}