.welcome-container.light {
    background-color: #f9f9f9;
    color: #000000;
}

.welcome-container.dark {
    background-color: #000000;
    color: #ffffff;
}

.highlight-card.light {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #dddddd;
}

.highlight-card.dark {
    background-color: #282828;
    color: #ffffff;
    border: 1px solid #252525;
}

.home-container.light {
    background-color: white;
    color: black;
}

.home-container.dark {
    background-color: black;
    color: white;
}

.bottom-container.light {
    background-color: white;
    color: black;
}

.bottom-container.dark {
    background-color: black;
    color: white;
}

.description-dark.light {
    color: #000000;
}

.description-dark.dark {
    color: #ffffff;
}

.project-card.light {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #dddddd;
}

.project-card.dark {
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #000000;
}

.projects-container.light {
    background-color: #f9f9f9;
    color: #000000;
}

.projects-container.dark {
    background-color: #000000;
    color: #ffffff;
}

.top-section {
    border-radius: 10px;
    animation: fade-in 1s ease-out;
    height: 100%;
}

.text-section {
    color: rgba(141, 138, 138, 0.767);
    text-align: left;
    animation: fade-in 1s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-container {
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    /* max-height: 80vh; */
}

.home-container {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
}

.bottom-container {
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide-in 1s ease-out;
    height: 100%;
}

.profile-picture {
    width: auto;
    height: 100%;
    max-height: 100vh;
    border-radius: 15px;
    /* Smooth edges */
    border: none;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    max-height: 80vh;
}

.custom-select {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.project-card {
    margin-bottom: 20px;
}

.project-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.filter-group {
    margin-bottom: 20px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.highlight-name {
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Arial', sans-serif;
}

.button-group {
    margin-top: 20px;
}

.btn {
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

.delay-1 {
    animation-delay: 0.5s;
}

.delay-2 {
    animation-delay: 1s;
}

.slide-in {
    animation: slideIn 1s ease-in-out;
}

.animated-background.light {
    animation: gradientAnimation 15s ease infinite;
}

.animated-background.dark {
    background-color: black;
    color: white;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .image-section {
        justify-content: flex-start;
    }

    .button-group {
        margin-bottom: 20px;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.highlight-name {
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: bottom;
    color: dimgray;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    animation: colorChange 1s ease-in-out forwards;
}

.highlight-name::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #4a4a4a;
    animation: slideIn 1s ease-in-out forwards;
}

@keyframes colorChange {
    from {
        color: dimgray;
    }

    to {
        color: #e33411;
    }
}

.typewriter {
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: .15em;
    text-align: left;
    margin: 0;
}

.cursor {
    border-left: .15em solid orange;
    animation: blink-caret .75s step-end infinite;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding: 0 10px;
}

.left-arrow,
.right-arrow {
    font-size: 2rem;
    cursor: pointer;
    color: #2f9858;
}

@media (max-width: 768px) {

    .left-arrow,
    .right-arrow {
        font-size: 1.5rem;
    }

    .image-navigation {
        width: 95%;
    }
}

@media (max-width: 576px) {

    .left-arrow,
    .right-arrow {
        font-size: 1.2rem;
    }

    .image-navigation {
        width: 100%;
    }
}

.message-text {
    text-align: justify;
    hyphens: auto;
    text-justify: inter-word;
    text-align-last: left;
    line-height: 1.5;
}

.message-text.dark {
    color:rgb(198, 198, 198)
}

.message-text.light {
    color:rgb(42, 42, 42)
}

.custom-modal-content .modal-content {
    background-color: black;
    color: white;
    /* Optional: to ensure text is visible */
}