:root {
    --primary-color: #0a8d79;
    --secondary-color: #6c757d;
    --neutral-color-light: #ffffff;
    --neutral-color-dark: #000000;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--neutral-color-dark);
    background-color: var(--neutral-color-light);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

button,
.btn-primary {
    background-color: var(--primary-color) !important;
    color: var(--neutral-color-light) !important;
    border: none !important;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover,
.btn-primary:hover {
    background-color: var(--secondary-color) !important;
}